---
---

.navbar {
  margin-bottom: 0;
}

img.thumbnail {
  margin: 0 auto;
}

/* slick */

.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 5px;
  margin-bottom: 0;
  text-align: right;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.footer {
    color: #aaa;
    background-color: #2d2d2d;
}

#sliders {
  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #666;
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

    .head1 {
      font-size: 30px;
    }

    .head2 {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      .head1 {
        font-size: 18px;
      }

      .head2 {
        display: none;
      }
    }
  }

}
