<div class="footer">
    <div class="container p-v-50">
        <div class="row">
            <div class="col-md-4 col-sm-4">
              &copy; 2019 <a href="http://www.microwise-system.com" target="_blank">元智系统</a>
              | <a href="http://123.smart-museum.cn/" target="_blank">网址大全</a> <br>
              西安元智系统技术有限责任公司 <br>
              公司地址： 西安市高新区锦业路69号创业研发园E座4层 <br>
              联系电话：029-88246388 公司传真：029-88346346 <br>
              <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
            </div>

            <div class="col-md-4 col-sm-4">
                <i class="fa fa-weibo"></i> 微博 <br>
                <a href="http://weibo.com/u/3175063310">元智系统</a>
                <br>
                <img src="{{site.url}}/assets/weibo-qrcode.png" alt="" style="width: 100px; height: 100px;"/>
            </div>
            <div class="col-md-4 col-sm-4">
                <i class="fa fa-weixin"></i> 微信 <br>
                microwise_Coltd <br>
                <img src="{{site.url}}/assets/weixin-qrcode.jpg" alt="" style="width: 100px; height: 100px;"/>
            </div>
        </div>
    </div>
</div>
