<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 style="padding: 0; margin: 0;">
              <a class="navbar-brand" href="{{site.url}}" style="font-weight: bold;color: rgb(62,157,53);">{{site.name}}</a>
            </h1>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{site.url}}/galaxy/">银河</a></li>
                <li><a href="{{site.url}}/encke2/">掌上银河</a></li>
                <!-- <li><a href="{{site.url}}/encke/">银河客户端</a></li> -->
                <li><a href="{{site.url}}/sakya/">监控中心客户端</a></li>
                <li><a href="{{site.url}}/mocha/">魔卡</a></li>
                <li><a href="{{site.url}}/seiya/">微导游</a></li>
                <li><a href="{{site.url}}/snap_shot/">自由人</a></li>
                <!--
                  <li><a href="{{site.url}}/devices/">监控设备</a></li>
                -->
                <li><a href="{{site.url}}/blogs.html">博客</a></li>
                <li><a href="{{site.url}}/wallpaper/index.html">元智壁纸</a></li>
                <li><a href="{{site.url}}/devices/">硬件产品</a></li>
            </ul>

            <!-- Search Google -->
            <form class="navbar-form navbar-right" role="search" method="get" action="http://www.google.com/search" target="_blank">
                <div class="form-group">
                    <input class="form-control" type="text" name="q" maxlength="255" value="" placeholder="搜索"/>
                </div>
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="hidden" name="oe" value="UTF-8" />
                <input type="hidden" name="hl" value="zh-CN" />
                <input type="hidden" name="domains" value="products.microwise-system.com" />
                <input type="hidden" name="sitesearch" value="products.microwise-system.com" />
                <input type="hidden" name="btnG" value="Google Search" />
            </form>
            <!-- Search Google -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
