<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.url}}/sakya/" style="font-weight: bold; float: none;">
        <img src="{{site.url}}/assets/sakya/sakya_logo.png" alt="" style="height: 50px; display: inline-block; box-sizing: border-box; padding: 12px 0;" />
        监控中心客户端
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="guide.html">如何使用</a>
        </li>
        <li><a href="{{site.url}}">←回首页</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
