---
layout: default
title: 手机应用
---

<div class="row">


    <div class="col-md-6">
        <h2>移动应用</h2>

        <ul>
            <li>版本日志</li>
        </ul>

        <p>
            随时随地访问银河
        </p>

        <div class="well well-sm">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{site.url}}/assets/android.png" alt="android" style="width: 100px; height: 100px;"/>
                    <div>版本：v{{site.data.encke.current_version}}</div>
                    <div class="text-muted">支持安卓2.3以上版本</div>
                </div>

                <div class="col-md-4">
                    <div>
                        <img src="{{site.url}}/downloads/encke/qrcode-{{site.data.encke.current_version}}.png" alt="qrcode"
                             style="width: 150px; height: 150px;"/>
                        手机扫描下载
                    </div>
                </div>

                <div class="col-md-4">
                    <a href="{{site.data.encke.download_source}}/encke-{{site.data.encke.current_version}}.apk" class="btn btn-primary">手动下载</a>
                </div>
            </div>
        </div>

        <div class="well well-sm">
            <img src="{{site.url}}/assets/apple.png" alt="apple" style="width: 100px; height: 100px;"/>
            尽请期待
        </div>

        <h4>版本日志</h4>
        <ul>
            {% for version in site.data.encke.versions %}
            <li>
                <strong style="font-size: 1.2em;">{{ version.name }}</strong> <span class="text-muted" style="margin-left: 10px;">{{ version.date }}</span>
                <ul>
                    {% for log in version.logs %}
                    <li>{{ log }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
