<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{site.name}}</title>
    <meta name="description" content="提供全套文物保护方案">
    <meta name="keywords" content="元智系统, 文物保护, 环境监测, 环境监控">

    <link rel="icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{site.url}}/assets/common-css-0.1.2/common.min.css"/>
</head>
<body>

{{ content }}

<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
