<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{site.name}}</title>
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{page.keywords}}{% else %}{{ site.keywords }} {% endif %}">
    <!-- qq 互联 网站接入 -->
    <meta property="qc:admins" content="4170661027453436513277135531345563757" />

    <link rel="icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{site.url}}/assets/common-css-0.1.2/common.min.css"/>
    <style type="text/css">
        .footer {
            color: #aaa;
            background-color: #2d2d2d;
        }

        .m-t-100{
            margin-top: 100px;
        }
    </style>
</head>
<body>

{% include navbar.html %}

<div class="container">
    {{ content }}
</div>


{% include footer.html %}

<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{% include baidutongji.html %}
</body>
</html>
