<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - {{site.name}}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/x-icon" href="{{site.url}}/favicon.ico">
    <link rel="stylesheet" href="{{site.url}}/css/theme-cerulean/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{site.url}}/assets/common-css-0.1.2/common.min.css"/>
    <style type="text/css">
        .footer {
            color: #aaa;
            background-color: #2d2d2d;
        }

        .m-t-100{
            margin-top: 100px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.url}}" style="font-weight: bold;">元智系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{site.url}}/galaxy/">银河</a></li>
                <li><a href="{{site.url}}/encke/">移动应用</a></li>
                <li><a href="{{site.url}}/devices/">监控设备</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    {{ content }}
</div>


<hr>

<div class="footer">
    <div class="container p-v-50">
        <div class="row">
            <div class="col-md-4">&copy; 元智系统 | MicroWise-System 2014</div>

            <div class="col-md-4">
                微博：microwise-system西安
                <br>
                <div>
                <img src="{{site.url}}/assets/weibo-qrcode.png" alt="" style="float:left; width: 100px; height: 100px;"/>
                <span style="float: left; padding-left: 10px; width: 70px;">
                <wb:follow-button uid="3175063310" type="red_1" width="67" height="24"></wb:follow-button>
                </span>
                </div>
            </div>
            <div class="col-md-4">
                微信： microwise_Coltd
                <br>
                <img src="{{site.url}}/assets/weixin-qrcode.jpg" alt="" style="width: 100px; height: 100px;"/>
            </div>
        </div>
    </div>
</div>

<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
